body {
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.margin-top {margin-top: 50px;}



.user-chioce {transition: 0.4ms;}
.user-chioce:hover {transform: scale(1.2);}

.result-container {background-color: rgb(47, 104, 118); padding: 10px 20px;}

#result {
    color: #fff;
}