body {
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
span, h1 {color: blue;}
.margin-top {margin-top: 50px;}



.user-chioce {transition: 0.3ms;}
.user-chioce:hover {transform: scale(1.2);}

.result-container {padding: 10px 20px; border-radius: 20px;}

#result {color: #fff;}
